{
	"extends": "humanmade",
	"globals": {
		"Altis": "readonly",
		"wp": "readonly",
		"moment": "readonly"
	},
	"rules": {
		"no-multi-str": "off",
		"no-console": "off",
		"jsdoc/no-undefined-types": "off",
		"react/react-in-jsx-scope": "off"
	}
}
