.App {
	line-height: 1.7;
}

.App *,
.App *::before,
.App *::after {
	box-sizing: border-box;
}

.App header {
	display: flex;
}

.App__blocks {
	display: grid;
	grid-template-columns: repeat( 2, 1fr );
}

.App__blocks--three {
	grid-template-columns: repeat( 3, 1fr );
}

#Altis_Dashboard__notices {
	background-color: #f5f6f8;
	overflow: hidden;
}

#Altis_Dashboard__notices > * {
	margin: 15px 5% 5px 5%;
}
