// Variables
$dark-blue: #152a4e;
$active-blue: #4667de;
$score-pos: #3CC66D;
$score-neg: #C6403C;
$sidebar-padding: 5%;
$color-grey: #cbc9c9;
$color-light-grey: #eef0f4;
$color-dark-grey: #7B7B7B;

// Override certain WP-specific pieces
body.index-php {

	background-color: #fff;

	.altis-telemetry-opt-in {
		margin-left: 0;
	}

	// Padding between sidebar and content
	#wpcontent {
		padding-left: 0;
	}

	// Sidebar accent
	ul#adminmenu a.wp-has-current-submenu::after, ul#adminmenu > li.current > a.current::after {
		border-right-color: #445471;
	}

	#wpbody-content {
		padding-bottom: 0;
	}

}

// Dashboard Global
.score-pos {
	color: $score-pos;
}

.score-neg {
	color: $score-neg;
}

.dashboard-shadow {
	box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.05 );
}

// Dashboard
.Dashboard {
	width: 100;
}

.Hero {
	position: relative;
	display: flex;
	height: 400px;
	width: 100%;
	background: $dark-blue;
	flex-direction: column-reverse;

	&:before {
		position: absolute;
		content: ' ';
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: url( '../../images/hero.jpg' ) no-repeat center center;
		background-size: cover;
		filter: saturate(0%);
		background-blend-mode: multiply;
		opacity: 0.2;
	}

	&__content {
		padding-left: 5%;
		padding-bottom: 60px;
		line-height: 1.4;
		z-index: 1;

		h1 {
			color: #fff;
			font-size: 60px;
			font-weight: 600;
			margin: 0;
		}

		h2 {
			color: #fff;
			font-size: 32px;
			font-weight: 300;
			margin: 0;
		}

	}

	&__tools {
		margin-top: 40px;
		display: flex;
	}

	.timerange {
		display: inline-block;
		border-radius: 20px;
		padding: 5px 12px;
		margin-right: 10px;
		border: 2px solid rgba( 255, 255, 255, 0.2 );
		color: rgba( 255, 255, 255, 0.4 );
		cursor: pointer;
		transition: 200ms;
		background: none;

		&:not(.timerange-active):hover {
			border: 2px solid rgba( 255, 255, 255, 0.6 );
			color: rgba( 255, 255, 255, 0.8 );
		}

		&.timerange-active {
			color: #fff;
			border: 2px solid rgba( 255, 255, 255, 1 );
		}
	}

	&__links {
		margin-left: 24px;

		a {
			display: inline-block;
			padding: 7px 6px;
			color: rgba( 255, 255, 255, 0.8 );
			transition: 200ms;
			background: none;
			font-weight: 600;

			&:hover,
			&:hover:not(:disabled):not([aria-disabled="true"]) {
				color: rgba( 255, 255, 255, 1 );
			}
		}
	}

}

.HeroChart {
	position: relative;
	margin: 30px 0;
}

.Welcome {
	position: relative;
	font-size: 16px;
	padding: 10px $sidebar-padding 40px;
	background: #152a4e;
	color: #fff;

	h2 {
		color: #fff;
		font-size: 24px;
	}

	p {
		font-size: inherit;
	}

	.components-button {
		margin-right: 1em;
		font-size: inherit;

		span[role=img] {
			margin-left: 0.5em;
		}
	}
}

.Overview {
	position: relative;
	font-size: 18px;
	padding: 0 $sidebar-padding 20px;

	.key-insight-wrap {
		display: flex;
		justify-content: space-between;
		max-width: 1050px;

		.key-insight {
			display: flex;
			flex-direction: column;
			position: relative;
			padding: 20px;
			top: -30px;
			width: 300px;
			height: 240px;
			border-radius: 10px;
			background: #fff;

			.key-insight-content {
				display: flex;
				flex-grow: 1;
				flex-direction: column;
				justify-content: space-between;
			}

			.key-insight-head {
				height: 20px;
			}

			.key-insight-metrics {
				display: flex;
				height: 100px;
				line-height: 0.75;
				justify-content: space-between;
				align-items: flex-end;

				.metrics-aggregate {
					font-size: 4rem;
				}

				.metrics-delta {
					font-size: 2rem;
				}
			}

			.key-insight-desc {
				height: 50px;
				max-width: 80%;
				color: #999;
				font-size: 0.9rem;
				line-height: 1.4;
			}
		}
	}

}

.List {
	position: relative;
	font-size: .875rem;
	padding: 0 $sidebar-padding 40px;

	.table-controls {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		height: 50px;
		padding-bottom: 1rem;
		position: relative;

		/* Bottom border for the table controls */
		&::after {
			content: '';
			height: 2px;
			background-color: $color-light-grey;
			position: absolute;
			bottom: -2px;
			left: -50vw;
			right: -50vw;
			z-index: -1;
		}

		.table-filter {
			display: flex;
			justify-content: flex-start;
			font-weight: 600;

			&__period {
				width: 200px;

				button {
					background: none;
					border: 1px solid $color-light-grey;
					border-right: 0;
					cursor: pointer;

					padding: 10px;

					&:first-child {
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					&:last-child {
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
						border-right: 1px solid $color-light-grey;
					}

					&.is-primary {
						background-color: $active-blue;
						color: #fff;

						&::after {
							content: 'D';
							color: $color-grey;
							padding-left: 3px;
						}
					}
				}
			}

			&__custom {
				flex: 1;
				justify-content: flex-start;
				gap: 1rem;

				> div {
					display: flex;
					gap: 2.5rem;
				}

				button {
					display: flex;
					background: none;
					border: 0;
					cursor: pointer;

					&:last-child {
						margin-right: 0;
					}

					&.is-primary {
						color: $active-blue;
						padding-bottom: 50px;
						border-bottom: 1px solid $active-blue;
					}
				}
			}
		}

		.table-search {
			display:flex;
			justify-content: flex-start;
			position: relative;

			input {
				width: 300px;
				background: $color-light-grey;
				border: 0;
				border-radius: 10px;
				padding: 1rem;
				padding-left: 45px;

				&:focus {
					border: 0;
					outline: 0;
					box-shadow: none;
					border-bottom: 1px solid #ddd;
				}

				&::placeholder {
					color: #7B7B7B;
				}
			}

			.dashicons-search {
				position: absolute;
				left: 0;
				margin: 8px 10px;
				color: $color-grey;
			}
		}

		.table-add-new {
			position: relative;

			button {
				background-color: $active-blue;
				padding: 8px 30px;
				color: #fff;
				font-weight: 600;
				border-radius: 10px;
				outline: 0;
				box-shadow: none;
				border: 0;
				cursor: pointer;

				&[aria-expanded=true] {
					border-bottom-left-radius: 0;
				}

				&::before {
					margin-right: 5px;
				}
			}

			.components-popover {
				position: absolute;
				top: 36px !important;
				left: 0 !important;
				z-index: 1;
			}

			.components-menu-group > [role=group] {
				display: flex;
				flex-flow: column wrap;

				button {
					display: block;
					border-radius: 0;
					padding: 15px 15px;

					&:last-child {
						border-bottom-left-radius: 10px;
						border-bottom-right-radius: 10px;
					}
				}
			}
		}

	}

	.filter {
		display: inline-block;
		font-weight: 600;
		font-size: 0.9rem;
		color: $dark-blue;
		padding: 10px 16px 7px;
		margin: 0 20px 0 0;
		background: #fff;
		border-radius: 10px;
		border: 0;
		box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.05 );
		cursor: pointer;
		text-align: center;

		&:not(.filter-active):hover {
			color: fade-out( $active-blue, 0.5 );
		}
	}

	.table-content {
		margin-top: 20px;
		background: #fff;
		border-radius: 10px;
		width: 100%;
	}

	table {
		width: 100%;
		font-size: 0.9rem;
		font-weight: 400;

		border-collapse: separate;
		border-spacing: 0 1rem;

		tr {
			background: $color-light-grey;
			box-shadow: 0 0 0 100vmax $color-light-grey;
			clip-path: inset(0 -100vmax);
			margin-bottom: 10px;
		}

		th,td {
			text-align: left;
			padding: 10px 20px;
			border: none;
		}

		.record-loading {
			text-align: left;
		}

		.record-header th {
			color: #bbb;
			font-weight: 400;
			border-bottom: 1px solid #eee;
		}

		.record-thumbnail {
			padding: 0;
			padding-right: 40px;

			img {
				width: 105px;
				height: 47px;
				object-fit: cover;
				object-position: top center;
				box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
			}
		}

		.record-name {
			font-size: 0.875rem;
			color: $color-dark-grey;

			&__type {
				font-size: 0.65em;
				font-weight: 900;
				text-transform: uppercase;
				letter-spacing: .1em;
				float: left;
			}

			&__tag {
				font-size: 0.65rem;

				&::before {
					content: '/';
					font-weight: normal;
					padding: 5px;
				}

				&:empty {
					&::before {
						content: '';
					}
				}
			}

			&__title a {
				color: $dark-blue;
				font-weight: 600;
				text-decoration: none;
			}
		}

		.record-traffic {
			position: relative;

			.traffic-bar {
				position: absolute;
				content: ' ';
				left: 0;
				top: 11px;
				bottom: 11px;
				right: 20%;
				color: $dark-blue;
				background: fade-out( $active-blue, 0.8 );
				border-radius: 0 4px 4px 0;
			}
		}

		.record-meta {

			&__author {

				&-name {
					font-size: 0.75em;
					letter-spacing: 0.1em;
					vertical-align: middle;
				}

				&-avatar {
					position: relative;
					display: inline-block;
					margin-right: 7px;
					top: 5px;
					width: 24px;
					height: 24px;
					border-radius: 12px;
					background: #eee;
					vertical-align: sub;
					box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
				}
			}

			&__links {
				font-size: 0.825em;
				padding-left: 30px;
				padding-top: 5px;

				a {
					text-decoration: none;
					color: $dark-blue;
				}
			}

		}

		.record-links {
			color: $active-blue;
			font-weight: 500;
			font-size: 0.9rem;

			a {
				margin-right: 10px;
			}
		}
	}
}

.table-footer {
	.pagination {
		padding: 20px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-size: 0.9rem;
		color: $active-blue;
		font-weight: 500;
		text-align: center;
		align-items: baseline;

		.rpb-item {
			padding: 2px 10px;
			margin: 0 2px;
			border: 0;
			border-radius: 4px;
			background: none;

			&.rpb-item--active {
				background: fade-out( $active-blue, 0.9 );
			}

			&:hover {
				background: fade-out( $active-blue, 0.95 );
			}

			&.rpb-item--disabled {
				color: $color-grey;
			}

		}

		.rpb-root {
			ul {
				margin: 0;
			}

			li {
				display: inline-block;
			}

		}

		.current-page {
			color: $color-grey;
			margin-left: 5px;
		}


	}

}

.Footer {
	position: relative;
	font-size: 16px;
	padding: 10px $sidebar-padding 40px;
	background: #152a4e;
	color: #fff;

	.components-button {
		margin-left: 1em;
		color: #eee;

		&:hover,
		&:active,
		&:focus	 {
			color: #fff !important;
		}
	}
}

// Loader

@keyframes paint {
	0% {
		stroke-dashoffset: 0;
	}
}

.Loader {
	display: block;
	height: 2em;
	fill: transparent;
	stroke: #152A4E;
	stroke-width: 3px;

	&.Loader--light {
		stroke: #fff;
	}

	&.Loader--giant {
		height: 10em;
		margin: 1em auto;
	}

	.altis-shape {
		stroke-dasharray: 1200;
		stroke-dashoffset: 1200;
		animation: paint 1.5s ease-in-out infinite alternate;
	}
}
