// Variables
$dark-blue: #152a4e;
$active-blue: #4667de;
$score-pos: #3CC66D;
$score-neg: #C6403C;
$sidebar-padding: 5%;
$color-grey: #cbc9c9;
$color-light-grey: #eef0f4;
$color-dark-grey: #707070;
$color-light-grey-bg: #F5F6F8;
$color-light-blue-bg: #ECEEF1; // Thumbnail BG + Ghost Bars

// Override certain WP-specific pieces
body.index-php {

	background-color: #fff;

	.altis-telemetry-opt-in {
		margin-left: 0;
	}

	// Padding between sidebar and content
	#wpcontent {
		padding-left: 0;
	}

	#wpbody-content {
		padding-bottom: 0;
	}

}

// Dashboard Global
.score-pos {
	color: $score-pos;
}

.score-neg {
	color: $score-neg;
}

.dashboard-shadow {
	box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.05 );
}

// Dashboard
.Dashboard {
	width: 100%;

	a {
		color: $active-blue;
		&:hover,
		&:focus,
		&:active {
			color: $dark-blue;
		}
	}
}

.Header {
	background-color: $color-light-grey-bg;
	border-bottom: 1px solid $color-light-grey;
	padding: 15px 5% 15px;
	display: flex;
	justify-content: space-between;

	.Logo {
		display: flex;
	}

	.Beta {
		font-size: 0.7em;
		background-color: #000;
		color: #fff;
		border-radius: 10px;
		padding: 0 6px;
		height: 1.6em;
		line-height: 1.6em;
		margin-left: 5px;
	}
}

.HeroChart {
	position: relative;
	margin: 20px 0;
}

.WelcomeIntro {
	padding: 0 5% 10px;

	h2 {
		font-size: 1.7em;
		margin-bottom: 0;
	}

	p {
		margin-top: 0;
		font-size: 1.2em;
		padding: 0;
		color: $color-dark-grey;
	}
}

.Welcome {
	position: relative;
	font-size: 16px;
	padding: 10px $sidebar-padding 40px;
	background: #152a4e;
	color: #fff;

	h2 {
		color: #fff;
		font-size: 24px;
	}

	p {
		font-size: inherit;
	}

	.components-button {
		margin-right: 1em;
		font-size: inherit;

		span[role=img] {
			margin-left: 0.5em;
		}
	}
}

.List {
	position: relative;
	font-size: .875rem;
	padding: 5px $sidebar-padding 40px;
	overflow: hidden;

	.table-controls {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		height: 50px;
		padding-bottom: 1rem;
		position: relative;

		/* Bottom border for the table controls */
		&::after {
			content: '';
			height: 2px;
			background-color: $color-light-grey;
			position: absolute;
			bottom: -2px;
			left: -50vw;
			right: -50vw;
			z-index: -1;
		}

		.table-filter {
			display: flex;
			justify-content: flex-start;
			font-weight: 600;

			&__period {
				width: 200px;

				button {
					border-right: 0;
					cursor: pointer;
					font-weight: 500;
					padding: 10px;
					color: #4667de;
					border-color: #4667de;
					box-shadow: inset 0 0 0 1px #4667de;
					&:hover,
					&:focus {
						color: #4667de;
						border-color: #4667de;
						box-shadow: inset 0 0 0 1px #4667de;
					}

					&:first-child {
						border-top-left-radius: 10px;
						border-bottom-left-radius: 10px;
					}

					&:last-child {
						border-top-right-radius: 10px;
						border-bottom-right-radius: 10px;
					}

					&.is-primary {
						outline: none;
						background: #4667de;
						border-color: #4667de;
						color: #fff;
						&::after {
							content: 'D';
							padding-left: 1px;
						}
						&:focus:not(:disabled) {
							box-shadow: inset 0 0 0 1px #4667de;
						}
					}
				}
			}

			&__custom {
				flex: 1;
				justify-content: flex-start;
				gap: 1rem;

				> div {
					display: flex;
					gap: 1rem;
					margin-bottom: -1rem;
				}

				button {
					display: flex;
					background: none;
					border: 0;
					box-shadow: none;
					cursor: pointer;
					padding-bottom: 1rem;
					height: 50px;
					font-weight: 500;
					border-bottom: 2px solid transparent;
					color: #4667de;

					&:hover, &:active, &:focus {
						box-shadow: none;
						background: none;
						color: #4667de;
					}

					&:last-child {
						margin-right: 0;
					}

					&.is-primary {
						color: #4667de;
						border-bottom: 2px solid #4667de;
					}
				}
			}
		}

		.table-search {
			display:flex;
			justify-content: flex-start;
			position: relative;

			input {
				width: 380px;
				background: $color-light-grey;
				border-color: transparent;
				border-radius: 10px;
				padding-left: 35px;
				height: 36px;

				&:focus {
					outline: 0;
					box-shadow: none;
					border-bottom: none;
				}

				&::placeholder {
					color: #7B7B7B;
				}
			}

			.dashicons-search {
				position: absolute;
				left: 0;
				margin: 8px 10px;
				color: $color-grey;
			}
		}

		.table-add-new {
			position: relative;

			button {
				padding: 7px 30px 7px 27px;
				font-weight: 600;
				border-radius: 10px;
				outline: 0;
				box-shadow: none;
				border: 0;
				cursor: pointer;

				&.is-primary {
					background: $active-blue;

					&:hover, &:active, &:focus {
						background: $active-blue;
					}

					&::before {
						margin-right: 5px;
						margin-bottom: -3px;
					}
				}
			}

			.components-menu-group > [role=group] {
				display: flex;
				flex-flow: column wrap;

				button:hover {
					color: $active-blue;
					cursor: pointer;
				}
			}
		}

	}

	.filter {
		display: inline-block;
		font-weight: 600;
		font-size: 0.9rem;
		padding: 10px 16px 7px;
		margin: 0 20px 0 0;
		background: #fff;
		border-radius: 10px;
		border: 0;
		box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.05 );
		cursor: pointer;
		text-align: center;
	}

	.table-content {
		margin-top: 20px;
		background: #fff;
		border-radius: 10px;
		width: 100%;
	}

	table {
		width: 100%;
		font-size: 0.9rem;
		font-weight: 400;

		border-collapse: separate;
		border-spacing: 0 1rem;

		tr {
			background: $color-light-grey-bg;
			box-shadow: 0 0 0 100vmax $color-light-grey-bg;
			clip-path: inset(0 -100vmax);
			margin-bottom: 10px;
		}

		th,td {
			text-align: left;
			padding: 20px 20px 17px 20px;
			border: none;
			vertical-align: top;
		}

		.record-loading {
			text-align: left;
		}

		.record-header th {
			color: #bbb;
			font-weight: 400;
			border-bottom: 1px solid #eee;
		}

		.record-thumbnail {
			width: 125px;
			padding-top: 17px;
			padding-left: 0;

			.record-thumbnail-wrap {
				width: 105px;
				height: 47px;
				background-color: $color-light-blue-bg;
				border-radius: 2px;
			}

			img {
				width: 105px;
				height: 47px;
				object-fit: cover;
				object-position: top center;
				box-shadow: 0 4px 7px 0 rgba(21, 42, 79, 0.2);
			}

		}

		.record-name {
			color: $color-dark-grey;
			font-size: 0.65rem;
			display: flex;
			flex-direction: column;
			align-items: stretch;

			a {
				text-decoration: none;
			}

			&__meta {
				text-transform: uppercase;
				letter-spacing: 0.01em;

				> div {
					letter-spacing: .03em;
					display: inline-block;
				}

				> div + div {
					&::before {
						content: '/';
						font-weight: normal;
						padding: 5px;
					}

					&:empty {
						&::before {
							content: '';
						}
					}
				}
			}

			&__type {
				font-weight: 700;
			}

			&__title {
				clear: both;
				font-size: 0.875rem;
				padding-top: 0.15rem;
				font-weight: 600;
				line-height: 1.15rem;

				a {
					display: block;
					text-decoration: none;
				}
			}
		}

		.record-empty {
			display: inline-block;
			min-height: 300px;
		}

		.record-traffic {
			width: 330px;

			> div {
				display: flex;
				align-items: flex-end;
			}

			span {
				text-align: right;
				margin-right: 10px;
				font-size: 0.65rem;
				color: $color-dark-grey;
				text-transform: uppercase;
				letter-spacing: 0.01em;
			}

			strong {
				display: block;
				font-size: 0.825rem;
				color: $dark-blue;
			}

			svg {
				margin-bottom: 0.35rem;

				rect {
					transition: x 0.5s ease-in-out, y 1s ease-in-out, width 0.5s ease-in;
				}
			}

			&__change {
				cursor: help;
				color: $active-blue;
				font-weight: 700;
				margin-left: 15px;
				font-size: 0.825rem;
			}
		}

		.record-lift {
			width: 100px;

			&__label {
				font-size: 0.65rem;
				color: $color-dark-grey;
				text-transform: uppercase;
				letter-spacing: 0.01em;
			}

			&__value {
				cursor: help;
				font-size: 0.825rem;
				font-weight: bold;
			}
		}

		.record-meta {
			width: 20%;
			padding-right: 0;

			&__author {

				&-name {
					font-size: 0.65rem;
					color: $color-dark-grey;
					display: block;
					text-transform: uppercase;
					letter-spacing: 0.01em;
				}

				&-avatar {
					margin-right: 7px;
					margin-top: -4px;
					width: 24px;
					height: 24px;
					border-radius: 12px;
					background: #eee;
					float: left;
				}
			}

			&__links {
				font-size: 0.825em;
				padding-left: 31px;
				padding-top: 2px;

				a {
					margin-right: 10px;
					text-decoration: none;
					color: $dark-blue;

					&:hover, &:active, &:focus {
						color: $active-blue;
					}
				}
			}

		}

		.record-links {
			font-weight: 500;
			font-size: 0.9rem;

			a {
				margin-right: 10px;
			}
		}
	}
}

.table-footer {
	.pagination {
		padding: 20px 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-size: 0.9rem;
		color: $active-blue;
		font-weight: 500;
		text-align: center;
		align-items: baseline;

		.rpb-item {
			padding: 2px 10px;
			margin: 0 2px;
			border: 0;
			border-radius: 4px;
			background: none;

			&.rpb-item--active {
				background: fade-out( $active-blue, 0.9 );
			}

			&:hover {
				background: fade-out( $active-blue, 0.95 );
			}

			&.rpb-item--disabled {
				color: $color-grey;
			}

		}

		.rpb-root {
			ul {
				margin: 0;
			}

			li {
				display: inline-block;
			}

		}

		.current-page {
			color: $color-grey;
			margin-left: 5px;
		}


	}

}

.Footer {
	position: relative;
	font-size: 16px;
	padding: 10px $sidebar-padding 40px;
	background: #152a4e;
	color: #fff;

	.components-button {
		margin-left: 1em;
		color: #eee;

		&:hover,
		&:active,
		&:focus	 {
			color: #fff !important;
		}
	}
}

// Loader

@keyframes paint {
	0% {
		stroke-dashoffset: 0;
	}
}

.Loader {
	display: block;
	height: 2em;
	fill: transparent;
	stroke: #152A4E;
	stroke-width: 3px;

	&.Loader--light {
		stroke: #fff;
	}

	&.Loader--giant {
		height: 10em;
		margin: 1em auto;
	}

	.altis-shape {
		stroke-dasharray: 1200;
		stroke-dashoffset: 1200;
		animation: paint 1.5s ease-in-out infinite alternate;
	}
}
