/* stylelint-disable selector-class-pattern */

.Header {
	margin: 0.5em 0 -1px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: sticky;
	background: #f0f0f1;
	top: 32px;
	margin-right: 20px;
	z-index: 100;
	padding: 0.5em 0;
	border-bottom: 1px solid #ccd0d4;
}

.Header h1 {
	width: 100%;
	margin: 0;
}

.Header .DateRangePickerInput {
	background: #fff;
}

.Header .DateInput,
.Header .DateInput input {
	background: transparent;
	border: none;
	font: inherit;
}

.Header .DateInput {
	width: 100px;
}

.Header__picker .CalendarMonth_caption {
	font-size: 13px;
}

.Header__picker .DayPicker_weekHeader {
	top: 50px;
}

.Header__picker .CalendarDay {
	font-size: 13px;
	text-align: center;
}

.Header__picker .CalendarDay,
.Header__picker .CalendarDay:hover {
	border-color: transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.Header__picker .CalendarDay__selected {
	background: var( --wp-admin-theme-color );
}

.Header__picker .CalendarDay__selected_span {
	background: var( --wp-admin-theme-color );
}

.Header__picker .CalendarDay__selected:hover,
.Header__picker .CalendarDay__selected_span:hover {
	background: var( --wp-admin-theme-color-darker-20 );
}

.Header__picker .CalendarDay__selected_start {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.Header__picker .CalendarDay__selected_end {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.Header__filters {
	flex-grow: 1;
	display: flex;
	align-items: baseline;
	margin-left: 0.5em;
	column-gap: 0.25em;
}

.Header__filter {
	display: flex;
	background: rgba( 0, 0, 255, 0.1 );
	border-radius: 12px;
	font-size: 13px;
	margin: 2px 4px 2px 0;
	padding: 0.15em 0 0.15em 1em;
	color: #1e1e1e;
}

.Header__filter-text {
	line-height: 1.8;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Header__filter-type {
	font-weight: 800;
}

.Header .Header__filter-remover {
	height: auto;
	cursor: pointer;
	padding: 0 2px;
	color: #757575;
	line-height: 0.8;
	overflow: initial;
}

.Header__filter-remover .dashicons {
	width: 24px;
	height: 24px;
	font-size: 24px;
}
