.TrafficGraph {
	padding: 18px 6px 6px 6px;
	margin: 0 20px 1em 0;
	background: #fff;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
}

.TrafficGraph__tooltip {
	background: #fff;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.04 );
	padding: 0.5em;
	min-width: 10em;
}

.TrafficGraph__tooltip h3 {
	margin: 0;
	font-size: inherit;
}

.TrafficGraph__tooltip dl {
	display: flex;
	align-items: baseline;
	margin: 0.5em 0;
}

.TrafficGraph__tooltip dt {
	margin: 0;
	flex-grow: 1;
}

.TrafficGraph__tooltip dd {
	margin: 0;
	flex-grow: 0;
	flex-shrink: 0;
}

.TrafficGraph__tooltip dt::before {
	display: inline-block;
	content: " ";
	height: 1em;
	width: 1em;
	margin-right: 0.5em;
	background: #000;
}

.TrafficGraph__tooltip-visitors dt::before {
	background: #152a4e;
}

.TrafficGraph__tooltip-views dt::before {
	background: #4667de;
}
